{% extends 'repo_direct/repo_direct_base.html' %}
{% block page_title %}View or edit {{obj.pid}}{% endblock %}
{% block content %}
<p>
  {% if obj_type == "implicit-set" %}
  <a class="btn btn-success btn-small" href="{% url 'repo_direct:reorder' obj.pid %}">Reorder children</a>
  {% endif %}
  <a class="btn btn-success btn-small" href="{% url 'repo_direct:edit_item_collection' obj.pid %}">Update collections</a>
  <a class="btn btn-success btn-small" href="{% url 'repo_direct:embargo' obj.pid %}">Extend embargo</a>
  {% if audio_video_obj %}
  <a class="btn btn-success btn-small" href="{% url 'repo_direct:create_stream' obj.pid %}">Create Streaming Derivative</a>
  {% endif %}
</p>
<h2>Datastreams</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Datastream ID </th>
      <th>View / Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for k in datastreams %}
    <tr>
      <th>{{forloop.counter}}</th>
      <td>{{k}}</td>
      <td>
        <a class="btn btn-primary btn-small" href="{{k}}/">View</a>
        <a class="btn btn-success btn-small" href="{{k}}/edit/">Edit</a>
      </td>
    </tr>
    {% endfor %}
    {% for k in deleted_datastreams %}
    <tr>
      <th>{{forloop.counter}}</th>
      <td>{{k}}</td>
      <td>{{k}} deleted</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
