{% extends 'repo_direct/repo_direct_base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container jumbotron">
  <form class="form-horizontal" role="form" method="post">
    <legend>Please Enter a PID</legend>
    {%csrf_token%}
    {{form|bootstrap_horizontal}}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="submit" value="Open" class='btn btn-primary'/>
      </div>
    </div>
  </form>
</div>
<div class="container jumbotron">
  <a class="btn btn-success btn-block" href="{% url 'repo_direct:new_object' %}">Create New Object</a>
</div>
{% endblock %}
