{% extends 'repo_direct/repo_direct_base.html' %}
{% load staticfiles %}
{% block extra_css %}
<style type="text/css" media="all">
  .page-card{
    display: inline-block;
    border-bottom: black solid thick;
    padding-top: 5px;
  }
  .page-changed{
    border-bottom-color: yellow;
  }
</style>

{% endblock %}
{% block page_title %}Reorder children of {{pid}}{% endblock %}
{% block content %}
<div class="row">
  <div id="children" class="col-md-12">
  {% for child in children %}
    <div class="page-card" id="{{child.pid}}" data-id="{{child.pid}}">
      <div>

        <a href="{{child.studio_url}}" target="_blank">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Old
        <span class="old-order label label-danger pull-right">{{child.order}}</span>
      </div>
      <div><img class="drag-handle" src="{{child.thumbnail_url}}" /></div>
      <div>New<span class="new-order pull-right label label-success">{{child.order}}</span></div>
    </div>
  {% endfor %}
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit new order"/>
  </form>
  <h4>Item Information</h4>
  <dl>
    <dd>Title</dd><dt>{{brief.title.0}}</dt>
    <dd>Abstract</dd><dt>{{brief.abstract.0}}</dt>
  </dl>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'repo_direct/Sortable.min.js' %}"></script>
<script type="text/javascript">
var children_element = document.getElementById('children');
var sortable_element = Sortable.create(children_element, {
    handle: ".drag-handle",
    onUpdate: function(evt) {
        handleUpdateEvents(evt);
    },
}
);
function handleUpdateEvents(evt) {
    var ids_list = sortable_element.toArray();
    $("#id_child_pids_ordered_list").val(ids_list.toString());
    var start = Math.min(evt.oldIndex, evt.newIndex);
    var end = Math.max(evt.oldIndex, evt.newIndex);
    for(i=start; i <= end; i++) {
        var el = document.getElementById(ids_list[i]);
        el.className = el.className+" page-changed";
        var order_el = el.getElementsByClassName("new-order")[0];
        order_el.innerHTML = "<em>" + (i+1).toString() + "</em>";
    }
};
</script>
{% endblock %}
